@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700&display=swap');

* {
    font-family: 'Exo 2', sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;

    box-shadow: 0 0 10px black;
}

.header {
    padding: 30px 0;

    background: rgb(50,50,50);
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(130,130,130,1) 100%);
}

.container-about {
    display: flex;

    width: 900px;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
}

.photo {
    border-radius: 20px;
    box-shadow: 0 0 5px white;
}

.name {
    font-size: 40px;

    color: white;
    text-shadow: 0 0 5px black;
}

.menu {
    font-size: 18px;

    list-style: none;
}

.menu__item {
    position: relative;

    padding-top: 10px;
}

.menu__item_link:link,
.menu__item_link:visited {
    text-decoration: none;

    display: block;

    color: #C8C8C8;

    transition: all .3s linear;
}

.menu__item_link:hover {
    color: #0f47c0;
    
    transform: scale(1.4) rotate(-10deg);
}

.menu__item_icon {
    font-size: 150%;
}

.main {
    padding: 10px;

    background: rgb(130,130,130);
    background: linear-gradient(90deg, rgba(130,130,130,1) 0%, rgba(50,50,50,1) 100%);
}

.title {
    font-size: 36px;
    text-align: right;

    margin-bottom: 5px;
    margin-right: 80px;

    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.text {
    width: 80%;
    margin-left: 80px;
    margin-bottom: 40px;

    color: rgb(212, 211, 211);
}

.projects__project {
    margin-left: 80px;
    margin-bottom: 40px;

    display: inline-block;
    overflow: hidden;
    position: relative;
}

.projects__project_image {
    width: 300px;
    height: 150px;
    transition: all 1s;
    display: block;
}

.projects__project:hover .projects__project_image{
    transform: scale(1.2);
}

.projects__project-chat:after,
.projects__project-piskel:after {
    position: absolute;
    font-size: 50px;
    top: 40px;
    opacity: .8;
}

.projects__project-piskel:after {
    content: 'Piskel-clone';
    color: white;
    left: 9px;
    
}

.projects__project-chat:after {
    content: 'Chat';
    color: black;
    left: 95px;
}

.footer {
    text-align: center;

    padding-top: 30px;
    padding-bottom: 10px;

    color: white;

    background: rgb(50,50,50);
    background: linear-gradient(90deg, rgba(50,50,50,1) 0%, rgba(130,130,130,1) 100%);
}